<!DOCTYPE html>
<html>
	<head>
		<title>Double_C的博客</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{ "css/bootstrap.css" | relative_url }}">
		<script type="text/javascript" src="{{ "js/jquery-1.11.3.min.js" | relative_url }}"></script>
		<script type="text/javascript" src="{{ "js/bootstrap.js" | relative_url }}"></script>
		<script type="text/javascript" src="{{ "js/index.js" | relative_url }}"></script>
		<link rel="stylesheet" href="{{ "css/index.css" | relative_url }}">

		<link rel="shortcut icon " type="images/x-icon" href="{{ "img/favicon.ico" | relative_url }}">
		<link rel="bookmark" type="image/x-icon" 　href="{{ "img/favicon.ico" | relative_url }}" />

	</head>

	<body>
		<div class="container">

			<!-- 头像条-->
			<div class="col-sm-12 headPic">
				<img src="{{ "img/Double_C.jpg" | relative_url }}" class="center-block img-responsive img-circle" />
			</div>

			<!-- 导航条-->
			<div class="row">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4">
					<ul class="nav">
						<div class="col-sm-4 text-center">
							<li class="nav-item">
								<a class="nav-link" href="/index.html/"><em>首页</em></a>
							</li>
						</div>
						<div class="col-sm-4 text-center">
							<li class="nav-item">
								<a class="nav-link" href="/article/"><em>博客</em></a>
							</li>
						</div>
						<div class="col-sm-4 text-center">
							<li class="nav-item">
								<a class="nav-link" href="/about/"><em>关于</em></a>
							</li>
						</div>
					</ul>
				</div>
				<div class="col-sm-4">
				</div>
			</div>

			<!-- 问候语 -->
			<div class="row text-center sayHello">
				<p id="hello"></p>
			</div>
		</div>


	</body>
