<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>Double_C</title>
		<meta name="description" content="Double_c的个人博客">
		<meta name="author" content="Double_C">

		<meta property="og:type" content="article">
		<meta property="og:title" content="Double_C">
		<meta property="og:description" content="Double_c的个人博客">

		<link rel="shortcut icon " type="images/x-icon" href="img/favicon.ico">
		<link rel="bookmark" type="image/x-icon" 　href="img/favicon.ico" />

		<link rel="stylesheet" type="text/css" href="css/main.css">
		
		<script src="../js/jquery-1.11.3.min.js"></script>

		<script type="text/javascript" src="../js/hello.js"></script>
	</head>


	<body>
		<header>


		</header>

		<!--头像 -->
		<div class="head">
			<img class="head-img" src="img/Double_C.jpg">
		</div>

		<!--导航 -->
		<div class="nav">
			<nav class="nav-menu">
			
				<i class="nav-menu-item">

					<a href="/"  class="nav-menu-item-post">
						首页
					</a>
				</i>

				<i class="nav-menu-item">

					<a href="/article/"  class="nav-menu-item-post">
						所有文章
					</a>
				</i>

				<i class="nav-menu-item">

					<a href="/about" title="about" class="nav-menu-item-about">
						关于我
					</a>
				</i>

			</nav>
		</div>
		
		<!--打招呼 -->
		<div>
			<p id="hello"></p>
		</div>

		<!--底层 -->
		<footer>
			<div class="footer">
				CopyRight@ 2019 cf | All Rights Reserved.
			</div>
		</footer>
	</body>
</html>
